.about-project{
    padding: 117px 70px;
}

.about-project__title{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.88px;
    margin: 0;
    border-bottom: 1px solid white;
    padding: 0 0 27px;
}

.about-project__container{
    display: flex;
    gap: 48px;
    margin: 70px 0 110px;
}

.about-project__info{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.about-project__subtitle{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.about-project__paragraph{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about-project__time-intervals{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.about-project__period-one{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    color: black;
    background-color: #3DDC84;
    white-space: nowrap;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-project__period-two{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    background-color: #303030;
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-project__stack{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
    margin: 14px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 880px){
    .about-project{
        padding: 94px 50px;
    }

    .about-project__container{
        gap: 30px;
        margin: 70px 0 93px;
    }

    .about-project__paragraph{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
    }

    .about-project__info{
        gap: 22px;
    }
}

@media screen and (max-width: 560px){
    .about-project__container{
        flex-direction: column;
        margin: 60px 0 60px;
        gap: 56px;
    }

    .about-project__info{
        gap: 16px;
    }
}

@media screen and (max-width: 440px){
    .about-project{
        padding: 70px 18px;
    }

    .about-project__container{
        flex-direction: column;
        margin: 60px 0 60px;
    }

    .about-project__title{
        padding: 0 0 30px;
        font-size: 18px;
    }

    .about-project__subtitle{
        font-size: 18px;
    }

    .about-project__paragraph{
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__period-one{
        font-size: 11px;
        width: 100px;
        height: 35px;
    }

    .about-project__period-two{
        font-size: 11px;
        height: 35px;
    }

    .about-project__stack{
        font-size: 11px;
        line-height: normal;
        margin: 10px 0 0 0;
    }
}